<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for @post, class: 'form-horizontal' do |f| %>
      <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |message| %>
          <%= js add_gritter(message, sticky: false, image: :notice) %>
        <% end %>
      <% end %>
      
      <div class="form-group">
        <%= f.label :overtime_request, 'Overtime Request', class: 'col-sm-4 control-label' %>
        <%= f.number_field :overtime_request, class: 'form-control', step: 'any' %>
      </div>
    
      <div class="form-group">
        <%= f.label :date, class: 'col-sm-2 control-label' %>
        <%= f.date_field :date, class: 'form-control' %>  
      </div>
      
      <div class="form-group">
        <%= f.label :rationale, class: 'col-sm-2 control-label' %>
        <%= f.text_area :rationale, class: 'form-control' %>
      </div>
      
      <%= render partial: 'status', locals: { f: f } if current_user.type.eql?('AdminUser') %>
      
      <div class="form-group">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>